@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#bodybg {
    background-image: url(./background.png);
    background-size: cover;
}

.mainpagetext {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: start;
    padding-left: 100px;
    align-items: center;
}

pre {
    font-size: 20px;
}

a {
    color: black;
}

a:hover {
    color: black;
    cursor: pointer;
}